* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    
}

.app-wrap {
    font-family: 'monserrat', sans-serif, monospace;
    background-color: cyan;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    height: 50px;
    max-width: 280px;
    padding: 10px, 15px;
    border:none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px 6px 6px 6px;
    border-bottom: 3px solid #DF8E00;

    color: #313131;

    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255,255,255,0.6);
}

main { 
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-size: 18px;
}

.location .city {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

.location .date {
    color: #FFFFFF;
    font-size: 20px;
}

.current .temp {
    color: #FFFFFF;
    font-size: 102px;
    font-weight: 900;
    margin: 10px 0px;
    text-shadow: 5px 8px rgba(0, 0, 0, 0.65);
}

.current .temp span {
    font-weight: 500;
}

.current .condition {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}